<ion-header>
	<header [title]="'NAVIGATION.TRASH'|translate" toDashboard="true"></header>
</ion-header>
<ion-content>
	<div *ngIf="loading" class="loading">
		<div class="load-wrapper">
			<ion-spinner name="crescent" color="light"></ion-spinner>
			<p>{{ 'LOADING' | translate }}</p>
		</div>
	</div>
	<ion-list>
		<ion-item-sliding *ngFor="let item of trash.list">
			<ion-item (click)="showInsightInfo(item)">
				<ion-avatar item-start>
					<img *ngIf="item.source == 'fb'" src="assets/icon/facebook.svg">
					<img *ngIf="item.source == 'wex'" src="assets/icon/wechat.svg">
				</ion-avatar>
				<div class="list-content">
					<h3>{{ item.authorName }}</h3>
					<p>{{ item.content }}</p>
				</div>
				<div class="list-label">
				  <div class="category-list">
				    <span class="keyword-label" [style.background-color]="getKeywordColor(item.categories[0])">
				      {{ getKeywordText(translate, type, item.categories[0]) }}
				    </span>
				  </div>
				  <span class="date">{{ renderTimeStamp(item.timestamp) }}</span>
				</div>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button (click)="unTrashItem(item._id, item.source)"> {{ 'INSIGHT.TRASH.UNTRASH' | translate }} </button>
				<button ion-button (click)="deletePermentaly(item._id, item.source)"> {{ 'INSIGHT.TRASH.DELETE' | translate }} </button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
</ion-content>