start {
    .language {
        float: right;
        color: #ffffff;
        font-size: 1.6rem;
    }
    .logo {
        margin: 50px auto 20px;
        text-align: center;
        color: #ffffff;
        width: 183px;
        h4 {
            font-weight: normal;
            width: 183px;
            height: 30px;
            font-size: 30px;
            text-align: center;
        }
    }
    .bottom-fix {
        position: absolute;
        bottom: 10%;
        left: calc(50% - 150px);
        p {
            font-size: 18px;
            color: white;
            width: 300px;
            line-height: 1.44;
            text-align: center;
        }
    }
    .button {
        width: 300px;
        margin: 20px auto 0;
        display: inherit;
    }

    .intro-bg {
        object-fit: contain;
        background-image: url('../assets/imgs/bg.jpg');
        background-size: cover;
    }
}