login {
    .logo {
        margin: 50px auto 20px;
        text-align: center;
        color: #ffffff;
        width: 183px;
        h4 {
            font-weight: normal;
            width: 183px;
            height: 30px;
            font-size: 30px;
            text-align: center;
        }
    }
    .list-md {
        width: 90%;
        margin: calc(100% - 250px) auto 0;
    }

    .item-md {
        background-color: transparent;
    }

    .item-input .label-md {
        color: white;
    }
    .forget {
        width: 90%;
        color: white;
        text-align: right;
        margin-bottom: 25px;
    }
    .sign-in-area{
        width: 90%;
        margin: 20px auto 0;
        p {
            color: white;
        }
        a {
            color: white;
            font-weight: bold;
        }
    }

    .intro-bg {
        object-fit: contain;
        background-image: radial-gradient(circle at 105% 0, #0ec7c0, #5796cc);
        background-size: cover;
    }
}