insight-details {
	.graph-section {
		background: #646464;
		top: 0;
		width: 100%;
		text-align: center;
		padding-bottom: 40px;

		.chart-container {
			position: relative;
			height: 40vh;
			min-height: 200px;
			max-height: 400px;
			width: 80%;
			margin: 0 auto;
			h5 {
				font-size: 1.7rem;
				margin-bottom: 1.6rem;
			}
		}
	}
	.chart-control {
		position: absolute;
		top: 0;
		width: 100%;
		ion-icon {
			font-size: 1.8rem;
			background: rgba(0, 0, 0, 0.5);
			padding: 3px 8px;
			position: absolute;
		}
		ion-icon[name="ios-arrow-back"] {
			left: 0;
		}
		ion-icon[name="ios-arrow-forward"] {
		  	right: 0;
		}
	}
	.title {
		position: relative;
		h2 {
			margin: 0;
			font-size: 2.2rem;
			padding-top: 15px;
			text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
		}
		h4 {
			margin: 10px auto 0;
			font-size: 1.7rem;
			display: inline-block;
			text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
		}
	}

	.story-section {
		position: relative;
		padding: 20px;
		.background {
			top: 0;
			left: 0;
			opacity: 0.5;
			width: 100%;
			background-size: cover;
			background-position: center;
			position: absolute;
			height: 200px;
			z-index: 1;
		}
	}

	.story-wrapper {
		z-index: 8;
		background: rgba(0,0,0, 0.5);
		position: relative;
		text-align: left;
		margin-bottom: 50px;
		padding-bottom: 20px;
		h3 {
			padding: 20px;
		}
	}

	.story-content, .story-no-data {
		padding: 20px;
		border-left: 1px solid white;
		margin-left: 20px;
		font-size: 15px;
	}
}
