insight-details {
	.graph-section {
		background: #646464;
		top: 0;
		position: absolute;
		width: 100%;
		text-align: center;

		.chart-container {
			position: relative;
			height: 40vh;
			min-height: 200px;
			max-height: 400px;
			width: 80%;
			margin: 0 auto 50px;
		}
	}
	.graph-control {
		font-size: 2rem;
	}
	.title {
		position: relative;
	}
}
