<ion-content>
	<div class="graph-section">
		<div class="left" (click)="closeModal()">
			<ion-icon name="close"></ion-icon>
		</div>
		<div class="title">
			<h3>{{ userDetails.authorName }}</h3>
			<h4>
				<ion-icon
					class="graph-control left"
					*ngIf="currentPage > 1"
					(click)="changePage(-1)"
					name="arrow-dropleft-circle">
				</ion-icon>
				( {{ userDetails.nickName || 'add nickname' }} )
				<ion-icon name="brush" (click)="openEditNote(alertCtrl, translate, userDetails, profile.cookie)"></ion-icon>
				<ion-icon
					class="graph-control right"
					*ngIf="summaryRanked.length > (itemPerPage * currentPage)"
					(click)="changePage(1)"
					name="arrow-dropright-circle">
				</ion-icon>
			</h4>
		</div>
		<div class="source">
			<img *ngIf="userDetails.source == 'fb'" src="assets/icon/facebook-w.svg">
			<img *ngIf="userDetails.source == 'wex'" src="assets/icon/wechat-w.svg">
		</div>
		<div class="chart-container">
			<h4> keyword Analysis </h4>
			<canvas #barChartView></canvas>
		</div>
	</div>
	<div *ngIf="selectedSummary" class="story-section" [ngStyle]="{ 'backgroundColor': 'orange' }">
		<h3>Story</h3>
		<div class="story-no-data" *ngIf=" selectedSummary.amount == 0">
			no data
		</div>
		<div class="story-wrapper" *ngIf="selectedSummary.amount > 0">
			<div class="story" *ngFor="let story of selectedSummary.story">
				{{ renderTimeStamp(story.timestamp) }}
				<p [innerHTML]="story.content">
			</div>
		</div>
	</div>
</ion-content>
