<ion-content>
	<div class="graph-section">
		<div class="left" (click)="closeModal()">
			<ion-icon name="close"></ion-icon>
		</div>
		<div class="title">
			<h2>{{ userDetails.authorName }}</h2>
			<h4 class="nickname">( {{ userDetails.nickname || 'INSIGHT.ADD_NICKNAME'|translate }} )
				<img class="edit" src="assets/icon/edit.svg" (click)="openEditNote(alertCtrl, translate, userDetails, profile.cookie)">
			</h4>
		</div>
		<div class="source">
			<img *ngIf="userDetails.source == 'fb'" src="assets/icon/facebook-w.svg">
			<img *ngIf="userDetails.source == 'wex'" src="assets/icon/wechat-w.svg">
		</div>
		<div class="chart-container">
			<h5> {{ 'INSIGHT.DETAILS.KEYWORD_ANALYSIS' | translate }} </h5>
			<div class="chart-control">
			  <ion-icon *ngIf="currentPage > 1" (click)="changePage(-1)" name="ios-arrow-back">
			  </ion-icon>
			  <ion-icon *ngIf="summaryRanked.length > (itemPerPage * currentPage)" (click)="changePage(1)"
			    name="ios-arrow-forward">
			  </ion-icon>
			</div>
			<canvas #barChartView></canvas>
		</div>
	</div>
	<div *ngIf="selectedSummary" class="story-section" [ngStyle]="{ 'backgroundColor': selectedSummary.settings.color }">
		<div class="background"
			[ngStyle]="{ 'backgroundImage': 'url(' + selectedSummary.settings.img + ')' }">
		</div>
		<div class="story-wrapper">
			<h3> {{ selectedSummary.settings[currentLang] }} {{ 'INSIGHT.STORY' | translate }}</h3>
			<h4 class="story-no-data" *ngIf=" selectedSummary.amount == 0">
				{{ 'INSIGHT.DETAILS.NO_DATA' | translate }}
			</h4>
			<div class="story-content" *ngIf="selectedSummary.amount > 0">
				<div *ngFor="let story of selectedSummary.story">
					{{ renderTimeStamp(story.timestamp) }}
					<p [innerHTML]="story.content">
				</div>
			</div>
		</div>
	</div>
</ion-content>
