<ion-content>
	<div class="graph-section">
		<div class="left" (click)="closeModal()">
			<ion-icon name="close"></ion-icon>
		</div>
		<div class="title">
			<h3>{{ userDetails.authorName }}</h3>
			<div>
				<ion-icon
					*ngIf="currentPage > 1"
					(click)="changePage(-1)"
					name="arrow-dropleft-circle">
				</ion-icon>
				<h5>( {{ userDetails.nickName || 'add nickname' }} )</h5>
				<ion-icon name="brush" (click)="openEditNote(alertCtrl, translate, userDetails, profile.cookie)"></ion-icon>
				<ion-icon
					*ngIf="summaryRanked.length > (itemPerPage * currentPage)"
					(click)="changePage(1)"
					name="arrow-dropright-circle">
				</ion-icon>
			</div>
		</div>
		<div class="source">
			<img *ngIf="userDetails.source == 'fb'" src="assets/icon/facebook-w.svg">
			<img *ngIf="userDetails.source == 'wex'" src="assets/icon/wechat-w.svg">
		</div>
		<div class="chart-container">
			<h4> keyword Analysis </h4>
			<canvas #barChartView></canvas>
		</div>
	</div>
	<div *ngIf="selectedSummary" class="story-section" [ngStyle]="{ 'backgroundColor': selectedSummary.settings.color }">
		<div class="background"
			[ngStyle]="{ 'backgroundImage': 'url(' + selectedSummary.settings.img + ')' }">
		</div>
		<div class="story-wrapper">
			<h3> {{ selectedSummary.settings.cn }} Story</h3>
			<h4 class="story-no-data" *ngIf=" selectedSummary.amount == 0">
				No Data
			</h4>
			<div class="story-content" *ngIf="selectedSummary.amount > 0">
				<div *ngFor="let story of selectedSummary.story">
					{{ renderTimeStamp(story.timestamp) }}
					<p [innerHTML]="story.content">
				</div>
			</div>
		</div>
	</div>
</ion-content>
