<ion-content *ngIf="loading" class="loading">
	<div class="load-wrapper">
		<ion-spinner name="crescent" color="light"></ion-spinner>
		<p> {{ 'LOADING' | translate }} </p>
	</div>
</ion-content>
<ion-tabs *ngIf="!loading" selectedIndex="1" ionTabsDidChange="tabChange">
	<!-- <ion-tab [root]="tabProfile" [tabTitle]="'NAVIGATION.PROFILE'|translate" tabIcon="person"></ion-tab> -->
	<ion-tab [root]="tabAdvert" [tabTitle]="'NAVIGATION.ADVERT'|translate" tabIcon="paper"></ion-tab>
	<ion-tab [root]="tabInsight" [tabTitle]="'NAVIGATION.CUSTOMER'|translate" tabIcon="search"></ion-tab>
	<ion-tab [root]="tabPotential" [tabTitle]="'NAVIGATION.LEADS'|translate" tabIcon="heart"></ion-tab>
	<ion-tab [root]="tabArchive" [tabTitle]="'NAVIGATION.STARRED'|translate" tabIcon="star"></ion-tab>
</ion-tabs>