recruit-details {
    position: relative;
	background: rgba(0,0,0, 0.2);
    top: 16px;
    
    .left {
		color: grey;
		position: absolute;
		right: 20px;
		top: 5px;
		cursor: pointer;
		z-index: 30;

		ion-icon {
			font-size: 3.2em;
		}
	}

    ion-content {
        background: #b9b9b9;
        overflow: hidden;
		margin-top: 30px;
        border-radius: 15px;
        width: 90%;
        margin-left: 5%;
    }
    .content { 
        text-align: center;
    }

    .profileImg {
        width: 40%;
        border-radius: 50%;
        margin-top: 45px;
    }
    h5 {
        padding: 6px;
    }

    .chart-title {
        h5 {
            border-bottom:1px #000 solid;
            padding-bottom: 16px;
            margin-top: 10px;
            display: inline-block;
        }
    }
    .bottom-space {
        height: 50px;
    }

    .chart-container {
        position: relative;
        width: 90%;
        margin: 5% 5% 50px;
    }

    .chart-control {
		position: absolute;
        bottom: 0;
        width: 20%;
        margin: 0 40%;
		ion-icon {
			font-size: 1.8rem;
			background: rgba(0, 0, 0, 0.2);
			padding: 3px 8px;
			position: absolute;
		}
		ion-icon[name="ios-arrow-back"] {
			left: 0px;
            bottom: -24px;
		}
		ion-icon[name="ios-arrow-forward"] {
            right: 0;
            bottom: -24px;
		}
	}

}
