recruit-details {
    position: relative;
	background: rgba(0,0,0, 0.8);
    top: 16px;
    
    .left {
		color: grey;
		position: absolute;
		right: 20px;
		top: 5px;
		cursor: pointer;
		z-index: 30;

		ion-icon {
			margin-top: 10px;
			font-size: 3.2em;
		}
	}

    ion-content {
        background: #b9b9b9;
        overflow: hidden;
		margin-top: 30px;
        border-radius: 15px;
    }
    .content { 
        text-align: center;
    }

    .profileImg {
        width: 40%;
        border-radius: 50%;
        margin-top: 55px;
    }
    h5 {
        padding: 6px;
    }

    .chart-title {
        h5 {
            border-bottom:1px #000 solid;
            padding-bottom: 16px;
            margin-top: 10px;
            display: inline-block;
        }
    }
    .bottom-space {
        height: 50px;
    }
}
