
.app-root {
    .button-round-md {
        border-radius: 6px;
    }

    a {
      color: white;
      font-weight: bold;
    }
    .item-md, .item-ios{
        padding: 0 0px;
        color: white;
        &.item-input.item-input-has-focus {
            .label-md[floating] {
                color: white;
            }
            .item-inner {
                border-bottom-color: white;
                box-shadow: inset 0 -1px 0 0 white;
            }
        }
        &.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) {
            .item-inner {
                border-bottom-color: #fcff3b;
                box-shadow: inset 0 -1px 0 0 #fcff3b;
            }
        }
    }
    .list-md, .list-ios {
        .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
            border-bottom-color: #fcff3b;
            box-shadow: inset 0 -1px 0 0 #fcff3b;
        }
        .item-input.item-input-has-focus:last-child {
            border-bottom-color: white;
            box-shadow: inset 0 -1px 0 0 white;
        }
    }

    .list-ios >.item-block:first-child { border: none; }

    .item-md, .item-ios {
        background-color: transparent;
    }
    .item-ios {
        padding-left: 0;
    }

    .item-input .label-md,
    .item-input .label-ios {
        color: white;
    }
}

.dark-text {
    color: $dark;

    .item-md, .item-ios {
      background-color: transparent;
      color: $dark;
      padding: 0 0px;
    }

    .item-input .item-select .item-datetime {
      color: $dark;
    }

    .item-input .label-md,
    .item-select .label-md,
    .item-datetime .label-md,
    .item-input .label-ios,
    .item-select .label-ios,
    .item-datetime .label-ios {
      color: $dark;
    }
}

.text-center {
    text-align: center;
}

.select-icon-inner{
    color: white;
}

.fix-bottom {
    position: absolute;
    width: 90%;
    bottom: 0;
    padding: 20px 20px 40px;
    text-align: center;
}

// confirm component
confirm {
    text-align: center;
    .content {
        @extend %background-green;
    }
    .inner-90 {
        margin-top: 10%;
    }

    textarea::placeholder {
        color: #ffffff;
        opacity: 0.7;
    }
    a { font-size: 16px; }

    .grid {
        text-align: left;
        margin: 15% auto 20%;
    }

    .icon {
        position: relative;
        top: 8px;
    }
}

listview {
    background-image: radial-gradient(circle at 105% 0, #1d7f8a, #3e6a90);
    .content-md, .list-md ion-item-sliding {
        background-color: transparent;
    }
}