registration, activate {
    .content {
      @extend %background-green;
    }

    .item-md{
        background-color: transparent;
        color: white;
        padding: 0 0px;
    }
    .item-input .label-md {
        color: white;
    }
    .back{
        color: white;
        text-decoration: none;
        font-size: 28px;
    }
    ionic-textarea textarea {
        height: 120px;
        background: rgba(255, 255, 255, 0.3);
    }
    h1 {
        font-size: 2.4rem;
    }
    h4 {
        font-size: 2rem;
    }
    p {
        font-size: 16px;
        line-height: 1.5;
    }
    .head-nav {
        margin-bottom: 10px;
    }
    .inner-90 {
        width: 90%;
        margin: 0 auto;
    }
    .example {
        margin: 2px auto;
        font-size: 12px;
        opacity: 0.7;
    }

    .bottom {
        margin-top: 30px;
    }

    button {
        width: calc(50% - 4px);
        float: left;
    }

    // page welcome
    .welcome, .activate {
        img {
            margin: 50px auto;
            display: inherit;
        }
    }

    // page steps
    .steps {
        padding: 0 24px;
        p {
            margin: 0px 0px;
            font-size: 1.3rem;
        }
        h2 {
            font-size: 1.7rem;
            margin: 3px 0px;
        }
        h3{
            font-size: 1.5rem;
            margin: 3px 0px;
        }
        .row {
            margin: 10px 0px;
        }
    }

    // page signup
    .signup {
        padding: 0 24px;
        h1{
            margin: 0px;
        }
        .terms-label {
            p {
                padding: 10px 0px 0px 0px;
            }
        }

        .terms {
            width: 100%;
            height: 180px;
            border-radius: 6px 6px 0px 0px;
            background-color: #ffffff;

            p {
                color: #666666;
                padding: 10px 20px;
                font-size: 16px;
            }
        }

        .terms-more {
            width: 100%;
            height: 42px;
            border-radius: 0px 0px 6px 6px;
            background-color: #f4f4f4;
            margin:0 auto;

            a {
                color: #754dd1;
                display: block;
                width: 100%;
                text-align: center;
                padding: 10px 0px;
                font-family: Avenir;
                font-size: 16px;
                font-weight: normal;
            }
        }

        .item.item-md .checkbox-md {
            margin: 9px 20px 9px 4px;
        }
    }

    .page-2 {
        border-radius: 6px;
        background-color: #ffffff;
        color: #454545;
        padding: 20px 24px;

        h1{
            color: #0e2f49;
            float: left;
            position: relative;
            top: 10px;
        }

        img {
            float: right;
            top: -10px;
            position: relative;
        }

        .item-md{
            background-color: transparent;
            color: #454545;
            padding: 0 0px;
        }
        .item-input .label-md .item-select .item-datetime{
            color:  #454545;
        }

        .item-input .label-md,
        .item-select .label-md,
        .item-datetime .label-md {
            color: #454545;
        }

    }

    .item-input .label-md,
    .item-select .label-md,
    .item-datetime .label-md {
        color: white;
    }

    // payment page
    .payment {
        .back {
          color: #3994bd;
        }
        head {
            position: absolute;
            text-align: center;
            width: 110%;
            height: 40%;
            display: block;
            color: #8c8c8c;
            left: -5%;
            h1 {
                font-size: 48px;
                font-weight: 200;
                margin-top: -6px;
            }
            p {
                font-size: 17px;
                margin-top: -5px;
            }
            .back-circle {
                background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0.80));
                border-bottom-left-radius: 100%;
                border-bottom-right-radius: 100%;
                height: 132%;
                position: absolute;
                width: 110%;
                top: -40%;
                left: -5%;
                z-index: -1;
            }
        }
        // points
        ul {
            width: 90%;
            margin: 80% 10% 0px 10%;
            list-style: none;

            li::before {
              content: "•";
              color:#fcff3b;
              display: inline-block;
              width: 1em;
              margin-left: -1em;
              font-size: 30px;
              margin-top: -5px;
            }

            li {
                margin: 10px 0 15px;
                p {
                    display: inline-block;
                    margin: 0;
                    font-size: 18px;
                    vertical-align: top;
                }
            }


        }

        .referal {
            background: #3994bd;
            margin-top: 40px;
            width: 110%;
            margin-left: -5%;
            text-align: center;
            padding: 20px;
            display: inline-block;
            input.code-input {
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                width: 80%;
            }
            .button {
                margin: 20px 10%;
                width: 80%;
            }
        }
    }

    // appointment page
    .appointment {
        .inner-90{
          text-align: center;
          margin-top: 10%;
          p {
            text-align: left;
            margin-top: 5%;
          }
        }
    }
}