<ion-header class="potential">
	<header [title]="'NAVIGATION.LEADS'|translate"></header>
	<search-bar
		[searchHandler]="searchHandler.bind(this)"
		[selected]="potential.filterType"
		[filters]="searchFilters"
		[fetchTranslation]="fetchTranslation.bind(this)">
	</search-bar>
</ion-header>
<ion-content class="potential" *ngIf="potential.rawData">
	<ion-list>
		<ion-item-sliding *ngFor="let item of potential.filteredData">
			<ion-item (click)="showPotentialLeads(item)">
				<ion-avatar item-start>
					<img *ngIf="item.source == 'fb'" src="assets/icon/facebook.svg">
					<img *ngIf="item.source == 'wex'" src="assets/icon/wechat.svg">
				</ion-avatar>
				<div class="list-content">
					<h3>{{ item.authorName }}</h3>
					<p>{{ item.content }} </p>
				</div>
				<div class="list-label">
					<div class="category-list">
						<span class="keyword-label"
							[style.background-color]="getKeywordInfo(type, item.categories[0]).color">
							{{ getKeywordText(translate, type, item.categories[0]) }}
						</span>
					</div>
					<span class="date">{{ renderTimeStamp(item.timestamp) }} </span>
				</div>
			</ion-item>
			<ion-item-options side="right">
				<button ion-button (click)="starInsight(item._id, item.source, item.categories)">{{ 'INSIGHT.ARCHIVE.STAR' | translate }}</button>
				<button ion-button (click)="trashInsight(item._id, item.source, item.categories)">{{ 'INSIGHT.ARCHIVE.TRASH' | translate }}</button>
			</ion-item-options>
		</ion-item-sliding>
	</ion-list>
	<ion-infinite-scroll
		*ngIf="potential.loadedPage < potential.numberOfPages" 
		(ionInfinite)="loadMoreData($event)">
		<ion-infinite-scroll-content
			loadingSpinner="bubbles"
			[loadingText]="'LOADING'|translate"
	  	></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
<ion-content class="potential no_data" *ngIf="!potential.rawData">
	<p>{{ 'GLOBAL_NO_DATA' | translate }} </p>
</ion-content>