<ion-content padding>
  <button ion-button (click)="resetFilterHandler()">
     Clear All
  </button>
  <ion-list>
    <ion-item *ngFor="let option of topOptions">
      <ion-label>{{ option.cn }}</ion-label>
      <ion-checkbox 
        (click)="searchHandler(option.value, null)" 
        [(ngModel)]="option.checked" slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>

  <p> 根據類別 </p>
  <ion-list>
    <ion-item *ngFor="let category of categories">
      <ion-label> {{ category.name }} </ion-label>
      <ion-checkbox 
        (click)="searchHandler(null, category.value)" 
        [(ngModel)]="category.checked" slot="start"></ion-checkbox>
    </ion-item>
  </ion-list> 
</ion-content>
