<ion-content padding>
  
  <div class="close-btn" (click)="closeModal()">
    <ion-icon name="close"></ion-icon>
  </div>
  <br/><br/>

  <input type="text"
    placeholder="Search Something...."
    [(ngModel)]="inputValue" />
  <button class="clear-btn" (click)="clearTextAndOptions()">
    {{ 'FILTER.CLEAR'| translate }}
  </button>
  <div class="clear"></div>

  <div class="option-wrapper">
    <div *ngFor="let option of topOptions">
      <ion-checkbox [(ngModel)]="option.checked" slot="start"></ion-checkbox>
      <ion-label>{{ option[currentLang] }}</ion-label>
    </div>
  </div>
  <hr />
  <h4 class="inline"> {{ 'FILTER.BY_CATEGORY'| translate }} </h4>
  <div class="right">
    <button (click)="updateAllCategoriesStatus(true)"> {{ 'FILTER.SELECT_ALL'| translate }}</button>
    <button (click)="updateAllCategoriesStatus(false)">{{ 'FILTER.DESELECT'| translate }}</button>
  </div>
  <div class="clear"></div>

  <div class="category-wrapper">
    <button *ngFor="let category of categories" 
      [ngStyle]="{ 'backgroundColor': category.checked ? category.color : '#ccc' }"
      (click)="updateCategoryStatus(category.value)">{{ category[currentLang] }} </button>
  </div>
  <br/>
  <button ion-button block (click)="applyFilterToModel()">
    <ion-icon name="search"></ion-icon>
  </button>
</ion-content>
