<ion-content padding>
    <div class="head-nav">
      <ion-icon class="back" name="arrow-back" navPush="StepsPage"></ion-icon>
    </div>

    <div class="signup">
      <form [formGroup]="registrationForm">
        <h1> {{ 'SIGNUP.TITLE' | translate }} </h1>
        <ion-list>
          <ion-item>
            <ion-label floating>{{ 'SIGNUP.REGISTRATION_LABEL' | translate }}</ion-label>
            <ion-input type="text" formControlName="registrationId"></ion-input>
          </ion-item>
          <p class="example">{{ 'SIGNUP.REGISTRATION_EXAMPLE' | translate }}</p>

          <ion-item>
            <ion-label floating>{{ 'SIGNUP.PASSWORD_LABEL' | translate }}</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'SIGNUP.CONFIRM_PASSWORD_LABEL' | translate }}</ion-label>
            <ion-input type="password" formControlName="confirmPassword"></ion-input>
          </ion-item>
        </ion-list>

        <div *ngIf="registrationForm.controls.confirmPassword.dirty">
          <div class="error" *ngIf="registrationForm.controls.confirmPassword.errors">
            <ion-icon name="information-circle"></ion-icon>
            {{ 'SIGNUP.PASSWORD_ERROR' | translate }}
          </div>
        </div>

        <div class="terms-label">
          <p>{{ 'SIGNUP.TERMS_LABEL' | translate }}</p>
        </div>
        <div class="terms">
            <p>{{ 'SIGNUP.TERMS_CONTENT' | translate }}</p>
        </div>
        <div class="terms-more">
            <a (click)="openModal()">{{ 'SIGNUP.FULL_SCREEN_LABEL' | translate }}</a>
        </div>

        <div class="terms-checkbox">
          <ion-checkbox formControlName="acceptTerms" required></ion-checkbox>
          <p>{{ 'SIGNUP.TERMS_AGREE_LABEL' | translate }}</p>
        </div>

        <button ion-button color="light" block round (click)="onRegister()" [disabled]="!registrationForm.valid">
          {{ 'GLOBAL_NEXT_BUTTON_LABEL' | translate }}
        </button>
    </form>
  </div>
</ion-content>
