insight-summary {
	.insight-content {
		background-image: radial-gradient(circle at 105% 0, #0ec7c0, #5697cc);
		color: white;
		position: relative;
		border-radius: 15px;
		top: 16px;
	}

	.chart-container {
		position: relative;
		margin-top: 60px;
		height:50vh;
		width:95vw;
	}

	.more-info {
		h3, h4 {
			text-align: center;
			margin-top: 20px !important;
			span {
				font-size: 12px;
				padding: 6px;
				border-radius: 5px;
				background: rgba(255, 255, 255, 0.3);
				vertical-align: middle;
			}
		}
		h4 { font-size: 16px; }
		margin-bottom: 20px;
	}
	.authors {
		span { margin-right: 10px; }
	}

	.category-list {
		.keyword-label {
			padding: 5px;
			margin: 5px;
			display: inline-block;
			border-radius: 5px;
		}
	}
}