<ion-content padding class="insight-content">
	<div class="left" (click)="closeModal()">
		<ion-icon name="close"></ion-icon>
	</div>

	<p class="title"> {{ profile.registration_id }} </p>

	<div class="chart-container">
		<canvas #barChartView></canvas>
	</div>

	<div class="more-info" *ngIf="currentInsight">
		<h3> {{ getGroupTitle(currentInsight.key) }}
			<span>{{ currentInsight.amount }}</span>
		</h3>
		<div class="authors">
			<h4>Authors</h4>
			<span *ngFor="let author of currentInsight.author">
				{{ author.name }}
			</span>
		</div>

		<div class="category-list">
			<h4>Categories</h4>
			<span
				*ngFor="let cat of currentInsight.categories"
				class="{{ 'keyword-label cat-' + cat }}">
				{{ cat }}
			</span>
		</div>
	</div>
</ion-content>
