page-insight-details {
	// .ion-page.show-page {
	// 	padding-top: 40px;
	// }

	.insight-content {
		background-image: radial-gradient(circle at 105% 0, #0ec7c0, #5697cc);
		color: white;

		button {
			background: #29567b;
		}
	}

}
