<ion-content [ngStyle]="{ 'backgroundColor': info.color }">
	<div class="left" (click)="closeModal()">
		<ion-icon name="close"></ion-icon>
	</div>
	<div class="hero">
		<div class="background" [ngStyle]="{ 'backgroundImage': 'url(' + info.img + ')' }"></div>
		<div class="source">
			<img *ngIf="insightData.source == 'fb'" src="assets/icon/facebook-w.svg">
			<img *ngIf="insightData.source == 'wex'" src="assets/icon/wechat-w.svg">
		</div>
		<h3>
			{{ insightData.authorName }}
			<p>
				({{ insightData.nickname|| 'add nickname' }})
				<ion-icon name="brush" (click)="openEditNote()"></ion-icon>
			</p>
		</h3>
		<div class="keywords">
		  <span *ngFor="let keyword of insightData.categories">
		    # {{ getKeywordText(translate, type, keyword) }}
		  </span>
		</div>
	</div>
	<div class="content">
		<div>
			<h5>{{ renderTimeStamp(insightData.timestamp) }}</h5>
			<p [innerHTML]="insightData.content"></p>
		</div>
		<div class="select" *ngIf="type == 'potential'">
			<ion-item>
				<ion-label>Current Customer</ion-label>
				<ion-checkbox
					(click)="updateUserPreference()"
					[(ngModel)]="is_existing_customer"
					color="light">
				</ion-checkbox>
			</ion-item>
			<ion-item>
				<ion-label>Not to display {{ insightData.authorName }}’s posts in coming 2 months</ion-label>
				<ion-checkbox
					(click)="updateUserPreference()"
					[(ngModel)]="is_remove_two_month"
					color="light" >
				</ion-checkbox>
			</ion-item>
		</div>
		<div class="know-more-wrap" *ngIf="type !== 'potential'">
			<button class="user-details-btn" (click)="goToAuthorPage()">
				<span [ngStyle]="{ 'color': info.color }">
					Know more about {{ insightData.authorName }}
				</span>
			</button>
		</div>
		<div class="recommend" *ngIf="recommendations.length > 0">
			<h4> Recommend Products </h4>
			<div class="boxes">
				<a *ngFor="let recommend of recommendations; let i = index"
					[ngStyle]="{ 'backgroundColor': (i%2 !== 0) ? info.color : 'white' }"
					href="{{ recommend.link }}" target="_blank">
					<span [ngStyle]="{ 'color': (i%2 == 0) ? info.color : 'white' }">
						{{ recommend.name }}
					</span>
				</a>
		  	</div>
		</div>
	</div>
</ion-content>
