// template
.insight-content {
	background-image: radial-gradient(circle at 105% 0, #0ec7c0, #5697cc);
	color: white;
	position: relative;
	border-radius: 15px;
	top: 16px;

	.title {
		position: absolute;
		text-align: center;
		width: 100%;
		font-size: 16px;
		margin: 0;
	}

	.left {
		position: absolute;
		left: 20px;
		top: 5px;
		cursor: pointer;
		z-index: 30; // this is to ensure close button is clickable

		ion-icon {
			font-size: 3em;
		}
	}
}


insight-details {
	.story-section {
		margin-top: 40px;
		margin-left: 20px;
	}

	.story-wrap {
		padding: 1px 20px;
		border-left: 2px solid rgba(255, 255, 255, 0.5);
	}

	.story-item {
		margin: 10px 0 30px;
		position: relative;

		.source-icon {
			height: 20px;
			width: 20px;
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
