<ion-content padding>
	<div class="head-nav">
		<ion-icon class="back" name="arrow-back" navPush="SignupPage"></ion-icon>
	</div>
	<div class="signup page-2">
		<form [formGroup]="registrationForm" class="dark-text">
			<h1>{{ 'PROFILE.TITLE' | translate }} </h1>
			<img class="icon" src="assets/imgs/step-1.png" srcset="assets/imgs/step-1@2x.png 2x, assets/imgs/step-1@3x.png 3x" />
			<ion-list>
				<ion-item>
					<ion-label floating>{{ 'PROFILE.LASTNAME' | translate }} *</ion-label>
					<ion-input type="text" formControlName="lastname"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label floating>{{ 'PROFILE.FIRSTNAME' | translate }} *</ion-label>
					<ion-input type="text" formControlName="firstname"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label floating>{{ 'PROFILE.EMAIL' | translate }} *</ion-label>
					<ion-input type="text" formControlName="email"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label floating>{{ 'PROFILE.MOBILE' | translate }} *</ion-label>
					<ion-input type="number" formControlName="mobile"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label floating>{{ 'PROFILE.COMPANY_NAME' | translate }}</ion-label>
					<ion-select formControlName="companyName">
						<ion-option *ngFor="let company of companies" value="{{company.key}}">{{ company.name }} *</ion-option>
					</ion-select>
				</ion-item>

				<ion-item>
					<ion-label floating>{{ 'PROFILE.JOB_TITLE' | translate }}</ion-label>
					<ion-input type="text" formControlName="jobTitle"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label floating>{{ 'PROFILE.DOB' | translate }} *</ion-label>
					<ion-datetime displayFormat="MM/DD/YYYY" formControlName="dob"></ion-datetime>
				</ion-item>

				<ion-item>
					<ion-label floating>{{ 'PROFILE.GENDER' | translate }} *</ion-label>
					<ion-select formControlName="gender">
						<ion-option value="Female">{{ 'PROFILE.OPTION_FEMALE' | translate }}</ion-option>
						<ion-option value="Male">{{ 'PROFILE.OPTION_MALE' | translate }}</ion-option>
					</ion-select>
				</ion-item>

				<div *ngIf="!registrationForm.valid">
					<div class="error" *ngIf="registrationForm.controls.lastname.invalid && (registrationForm.controls.lastname.dirty || registrationForm.controls.lastname.touched)">
						<ion-icon name="information-circle"></ion-icon>
						{{ 'PROFILE.ERROR_LASTNAME' | translate }}
					</div>
					<div class="error" *ngIf="registrationForm.controls.firstname.invalid && (registrationForm.controls.firstname.dirty || registrationForm.controls.firstname.touched)">
						<ion-icon name="information-circle"></ion-icon>
						{{ 'PROFILE.ERROR_FIRSTNAME' | translate }}
					</div>
					<div class="error" *ngIf="registrationForm.controls.email.invalid && (registrationForm.controls.email.dirty || registrationForm.controls.email.touched)">
						<ion-icon name="information-circle"></ion-icon>
						{{ 'PROFILE.ERROR_EMAIL' | translate }}
					</div>
					<div class="error" *ngIf="registrationForm.controls.mobile.invalid && (registrationForm.controls.mobile.dirty || registrationForm.controls.mobile.touched)">
						<ion-icon name="information-circle"></ion-icon>
					    {{ 'PROFILE.ERROR_MOBILE' | translate }}
					</div>
					<div class="error" *ngIf="registrationForm.controls.companyName.invalid && (registrationForm.controls.companyName.dirty || registrationForm.controls.companyName.touched)">
						<ion-icon name="information-circle"></ion-icon>
						{{ 'PROFILE.ERROR_COMPANY_NAME' | translate }}
					</div>
					<div class="error" *ngIf="registrationForm.controls.jobTitle.invalid && (registrationForm.controls.jobTitle.dirty || registrationForm.controls.jobTitle.touched)">
						<ion-icon name="information-circle"></ion-icon>
						{{ 'PROFILE.ERROR_JOB_TITLE' | translate }}
					</div>
				</div>
			</ion-list>
		</form>
	</div>
	<button ion-button color="light" block round (click)="onRegister()" [disabled]="!registrationForm.valid">{{ 'GLOBAL_NEXT_BUTTON_LABEL' | translate }}</button>
</ion-content>
