<ion-icon name="search" (click)="toggleSearch()" *ngIf="!searchOpened"></ion-icon>
<div *ngIf="searchOpened" class="search-wrap">
	<ion-icon name="arrow-back" (click)="toggleSearch()"></ion-icon>
	<input #search type="text" (keyup.enter)="updateInput(search.value)" placeholder="Search here...." />
	<ion-icon name="search" (click)="onSearch()"></ion-icon>
</div>
<ul class="categories" *ngIf="!searchOpened">
	<li *ngFor="let group of summary"
		class="{{ selected === group.groupId ? 'active' : '' }}"
		(click)="changeSelected(group.groupId)">
		{{ getGroupName(group.key) }} <span>{{ group.amount }}</span>
	</li>
</ul>



