$darkColor: #246383;
$borderLight: rgba(255, 255, 255, 0.2);
$green: #c0e566;

search-bar {
    background: $darkColor;
    width: 100%;
    display: inline-block;
    border-top: 1px solid $borderLight;
    overflow-x: scroll;
    height: 40px;

    ion-icon {
        cursor: pointer;
        font-size: 1.4em;
        color: white;
    }

    ul.search-filter {
		line-height: 1.5em;
		width: -moz-max-content;
		margin: 0;
		position: absolute;
		right: 0;
		padding: 0;
    }
    li {
        color: white;
        display: inline-block;
        list-style: none;
		float: left;
		padding: 9px;
        &.active{
            background: skyblue;
        }
    }
	.search-wrap {
		min-width: 80px;
		width: 55%;
		display: inline-block;
		position: absolute;
		padding: 10px 0 0;

		ion-icon {
			position: absolute;
			left: 10px;
			margin-right: 10px;
		}

        input {
            color: white;
            margin-left: 36px;
            background: transparent;
			border: none;
			padding-left: 10px;
			border-left: 1px solid $borderLight;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}