$darkColor: #246383;
$borderLight: rgba(255, 255, 255, 0.2);
$green: #c0e566;

search-bar {
    background: $darkColor;
    width: 100%;
    display: inline-block;
    padding: 10px 0 0;
    border-top: 1px solid $borderLight;
    overflow-x: scroll;
    height: 40px;

    ion-icon {
        cursor: pointer;
        font-size: 1.4em;
        color: white;
    }

    > ion-icon[name='search']{
        position: absolute;
        left: 20px;
        border-right: 1px solid $borderLight;
        padding-right: 15px;
    }
    ul {
		line-height: 1.5em;
		width: max-content;
		//position: absolute;
		margin: 0;
		padding-left: 60px;
    }
    li {
        color: white;
        display: inline-block;
        list-style: none;
        float: left;
        padding: 0px 9px 9px;
        border-bottom: 3px solid transparent;
        &.active{
            border-color: skyblue;
        }
        span {
            color: $green;
        }
    }
    .search-wrap {
        ion-icon[name='arrow-back'] {
            margin-left: 20px;
            padding-right: 20px;
            border-right: 1px solid $borderLight;
        }

        ion-icon[name='search'] {
            position: absolute;
            right: 10px;
        }
        input {
            color: white;
            margin-left: 10px;
            background: transparent;
            border: none;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}