<ion-content padding>
  <div class="head-nav">
    <ion-icon class="back" name="arrow-back" navPush="WelcomePage"></ion-icon>
  </div>

  <div class="inner-90 group-reservation">
    <img src="assets/imgs/appointment.png"
      srcset="assets/imgs/appointment@2x.png 2x, assets/imgs/appointment@3x.png 3x" />

    <form [formGroup]="registrationForm">
      <h4> {{ 'GROUP_RESERVATION_TITLE' | translate }}</h4>
      <p>{{ 'GROUP_RESERVATION_BODY' | translate }}</p>
      <ion-list>
        <ion-item>
          <ion-label floating>{{ 'GROUP_RESERVATION_NAME_LABEL' | translate }}</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{ 'GROUP_RESERVATION_EMAIL_LABEL' | translate }}</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{ 'GROUP_RESERVATION_MOBILE_LABEL' | translate }}</ion-label>
          <ion-input type="tel" formControlName="mobile"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{ 'GROUP_RESERVATION_MESSAGE_LABEL' | translate }}</ion-label>
          <ion-textarea row="8" formControlName="message"></ion-textarea>
        </ion-item>
      </ion-list>

      <ion-item no-lines *ngIf="!registrationForm.valid">
          <div class="error" *ngIf="registrationForm.controls.name.invalid && (registrationForm.controls.name.dirty || registrationForm.controls.name.touched)">
              {{ 'GROUP_RESERVATION_ERROR_NAME' | translate }}
          </div>
          <div class="error" *ngIf="registrationForm.controls.email.invalid && (registrationForm.controls.email.dirty || registrationForm.controls.email.touched)">
              {{ 'GROUP_RESERVATION_ERROR_EMAIL' | translate }}
          </div>
          <div class="error" *ngIf="registrationForm.controls.mobile.invalid && (registrationForm.controls.mobile.dirty || registrationForm.controls.mobile.touched)">
              {{ 'GROUP_RESERVATION_ERROR_MOBILE' | translate }}
          </div>
          <div class="error" *ngIf="registrationForm.controls.message.invalid && (registrationForm.controls.message.dirty || registrationForm.controls.message.touched)">
              {{ 'GROUP_RESERVATION_ERROR_MESSAGE' | translate }}
          </div>
      </ion-item>

      <button ion-button color="light" block round (click)="onRegister()"> {{ 'GLOBAL_SUBMIT_BUTTON_LABEL' | translate }} </button>
    </form>
  </div>
</ion-content>
